<div class= "container text-center">
  <h1>Restaurant List</h1>
  <% @restaurants.each do |restaurant| %>
    <ul class= "text-left">
      <li><%= restaurant.name %></li>
      <li><%= restaurant.address %></li>
      <li><%= restaurant.phone_number %></li>
      <li><%= restaurant.category %></li>
      <li><%= link_to "Update info", edit_restaurant_path(restaurant) %></li>
      <hr>
    </ul>
  <% end %>
</div>
