<h1>New Restaurant</h1>
<%= link_to 'Restaurant List', restaurants_path %>
<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
  <li><%= link_to "New Review", new_restaurant_review %></li>
  <% @restaurants.reviews.each do |review| %>
    <ul class= "text-left">
      <li><%= review.name %></li>
      <li><%= review.address %></li>
      <li><%= review.phone_number %></li>
      <li><%= review.category %></li>
      <hr>
    </ul>
  <% end %>
</ul>
